html {
  font-size: 10px;
}

/* GENERAL STYLES  */
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #f2f4fc;
  font-family: sans-serif, "roboto";
}

h1,
h2,
h3 {
  font-weight: 700;
  color: #292e47;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 4rem;
}

p {
  line-height: 1.6rem;
  color: #6b708d;
}

/* NAVBAR */

.navbar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-shadow: -2px 5px 3px rgba(107, 112, 141, 0.5);
}

.nav-list li {
  display: inline-block;
  list-style: none;
}

.nav-list a {
  text-decoration: none;
  color: #6b708d;
  font-weight: 600;
}

.nav-list a:hover {
  color: #072ac8;
}

#circle-logo {
  filter: drop-shadow(-2px 5px 3px rgba(107, 112, 141, 0.5));
  width: 200px;
}

.blue-btn {
  white-space: nowrap;
  text-decoration: none;
  background-color: #072ac8;
  color: white;
  padding: 30px 50px;
  box-shadow: -2px 5px 3px rgba(107, 112, 141, 0.5);
}
/* NAVBAR ENDS*/
.hero-section #about-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#credit-card {
  position: absolute;
}
#designer {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#thumb-up {
  position: absolute;
}

.client-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.client-logo img {
  filter: grayscale(100%);
  height: 140px;
}
.projects {
  display: flex;
  justify-content: space-between;
}
.projects-img {
  width: 50%;
}
.testimonial-section {
  background-color: #292e47;
  height: 600px;
}
.cta-section {
  padding: 8rem 0;
  background-color: #ffc600;
  text-align: center;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
footer a {
  text-decoration: none;
}

/* FOR MOBILE 360-740px*/
@media only screen and (max-width: 768px) {
  .navbar {
    padding: 1rem 3rem;
  }
  #circle-logo {
    width: 50px;
  }
  .blue-btn {
    display: none;
  }
  .nav-list a {
    padding-left: 1.7rem;
  }
  .nav-list li {
    font-size: 14px;
  }

  #credit-card {
    width: 180px;
    top: 100px;
    left: 0px;
  }

  #designer {
    width: 300px;
  }
  #thumb-up {
    width: 180px;
    right: 0px;
    top: 310px;
  }
  .hero-text {
    padding: 1rem 3rem;
  }
  h1 {
    font-size: 3rem;
  }
  p {
    font-size: 1.5rem;
  }
}
