@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
html {
  font-size: 5px;
}
body {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #f2f4fc;
}

h1 {
  font-size: 6rem;
  font-weight: 700;
  color: #292e47;
}
h2 {
  font-size: 4rem;
  font-weight: 700;
}
h3,
q {
  font-size: 2.4rem;
  font-weight: 500;
}

p {
  font-size: 2rem;
  font-weight: 400;
  color: #6b708d;
}

a {
  font-size: 1.7rem;
  font-weight: 500;
  text-decoration: none;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 50px;
}
#circle-logo {
  height: 15px;
  padding-left: 20px;
}
.nav-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-right: 20px;
}

.nav-list a {
  text-decoration: none;
  color: #6b708d;
  padding-left: 3em;
}

#contact-us-btn {
  display: none;
}
/* HERO SECTION */
#hero {
  display: flex;
  flex-wrap: wrap;
}

/* image */
#hero-image {
  position: relative;
  width: 100vw;
}

#designer {
  margin-right: auto;
  margin-left: auto;
  width: 300px;
}
#credit-card {
  position: absolute;
  height: 150px;
  top: 0;
  left: 0;
}
#thumb-up {
  position: absolute;
  height: 150px;
  right: 0;
  bottom: 0;
}

/* text */
#hero-text {
  margin: 0 1rem;
  text-align: center;
}

#hero-links {
  display: flex;
  justify-content: center;
}

#hero-text a {
  text-decoration: none;
  color: #072ac8;
  padding-left: 2em;
  padding-right: 2em;
}

/* CLIENT SECTION */
.client-section {
  display: none;
}

/* PROJECTS SECTION */

.section-title {
  width: 340px;
  margin-left: auto;
  margin-right: auto;
  color: #292e47;
}

.project-card {
  width: 340px;
  height: 444;
  box-shadow: 5px 5px 20px grey;
  margin: 30px auto;
}

.project-img {
  width: 340px;
  height: 230px;
}
.project-description {
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 5em;
  padding-right: 5em;
}

p > a {
  color: #072ac8;
}
.learn-more-link {
  padding-top: 40px;
  padding-bottom: 20px;
}

/* TESTIMONIAL SECTION */
.testimonial-section {
  position: relative;
  margin-top: 60px;
  background-color: #292e47;
  width: 100vw;
}
#container-testimonial {
  width: 50%;
  text-align: center;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
}

.memoji {
  height: 90px;
}

#girl-face {
  position: absolute;
  top: 1em;
  left: 1em;
}
#man-thumb-up {
  position: absolute;
  top: 1em;
  right: 1em;
}
#men-hat {
  position: absolute;
  bottom: 1em;
  right: 1em;
}
#confetti {
  position: absolute;
  bottom: 1em;
  left: 1em;
}

.testimonial-section h2 {
  color: white;
}

.testimonial-section q {
  color: #ffc600;
  margin-bottom: 4rem;
}

#client-profile {
  margin-top: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

#profile-name {
  text-align: left;
  padding-left: 2em;
}
#profile-name p {
  color: #a2d6f9;
}
#profile-name a {
  color: #f4f6fc;
  font-weight: 400;
}
/* circle icon */
.circle-pic {
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
}
.circle-pic img {
  display: inline-block;
  width: auto;
  height: 100%;
}
/* SERVICES SECTION */

/* QUESTION SECTION */
.cta-section {
  padding: 1.5rem;
  background-color: #ffc600;
  text-align: center;
}

.blue-btn {
  background-color: #072ac8;
  margin: 0.5rem;
  color: white;
  border: none;
}
footer {
  margin: 3rem;
}
footer li {
  list-style: none;
}
footer a {
  text-decoration: none;
}
.links-footer-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
